.content {
    background: url(../images2/ziybj.jpg) no-repeat top center;
}


.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.hd ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hd li {
    display: block;
    width: 280px;
    height: 60px;
    background: url(../images/line-bg.png) no-repeat;
    background-position: 0 -61px;
    margin-bottom: 20px;
}

.hd li a {
    text-align: center;
    display: block;
    font-size: 24px;
    font-family: "新宋体";
    line-height: 63px;
}

.hd li.on, .hd li:hover {
    background-position: 0 0;
}

.hd li.on a, .hd li:hover a {
    color: #cf4a53;
}


.w12001 {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
