.routstyle{
    font-size:20px ;
    margin-bottom: 20px;
    display: block;
}

.buttongroupys {

    display: inline;
}

.buttonys {
    margin-bottom: 30px;
    font-size: 20px;
    color: #0f0f0f;
}

.kuang_ping_nwes {
    position: relative;
    background: url(../images2/ziybj.jpg) no-repeat top center scroll;
    /* padding-bottom: 50px; */
}


.news_list_ziye {
    padding: 20px 0;
}

.news_list_ziye ul {
    padding: 10px;
}

.news_list_ziye li {
    position: relative;
    padding: 20px 0;
    margin: 20px;
    border-bottom: dashed 1px #999;
    overflow: hidden;

}

.news_list_ziye li img {
    width: 445px;
    height: 280px;
    object-fit: cover;
    float: left;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    filter: brightness(1);
}

.news_list_ziye li img:hover {
    filter: brightness(1.2);
}

.news_list_ziye li .text {
    height: 280px;
    width: 690px;
    position: relative;
    float: right;
    margin-right: 15%;
}

.news_list_ziye li .text .xaingq {
    padding: 6px;
    position: absolute;
    border: solid 1px #e60202;
    color: #e60202;
    border-radius: 3px;
    top: 250px;
    font-size: 20px;
}

.news_list_ziye li .text h2 {
    padding: 0;
    font-size: 30px;
    margin: 0;
    color: #000;
    padding-bottom: 20px;
}

.news_list_ziye li .text p {

    line-height: 50px;
    font-size: 20px;
    text-align: justify;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}


.news_list_ziye li img {
    /*width: 96%;*/
    margin: 0 10% 0 15%;
    /*height: 3rem;*/
}

.news_list_ziye li {
    padding-top: 0;
    margin-top: 0;
}

.news_list_ziye li .text a {
    font-size: 20px;
}

.el-button-change{
    display: block;
    width: 48%;
    float: left;
    overflow: hidden;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    transition: all 0.6s;
}

.el-button-change i{

    color: #000;

}